<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>


body {
margin: 0;

}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

div.a {
  font-size: 20px;
  text-align: center;

    }

.responsive {
  max-width: 30%;

}


div.d {
font-size: 15px;
text-align: left;
border: 3px #233f8e solid;
padding: 29px 10px;
margin: 10px 70% 20px 20px;
}

div.e {

  text-align: center;
  margin: 1px 25% 1px 25%;

}

div.f {
  margin-right: 20%;

  }

}

.center {
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.zoom {
      width: 300px;
      height: 300px;
      overflow: visible;
      margin-left: 25px;
      float:left;
      margin-right: 150px;
      margin-left: 50px;
      margin-bottom: 20px;
  }

  .zoom img {
      width: 200%;
      transition: 0.5s all ease-in-out;
  }

  .zoom:hover img {
      transform: scale(1.3);
  }

  .video {
    float: right;
    margin-right: 50px;
    height: 30%;
    width: 30%;

}

  .navbar {
    background-color: #233f8e;
    padding: auto;
    margin-top: 30px;
    min-width: 100%;
    }


  /* Style The Dropdown Button */
  .dropbtn {
    background-color: #233f8e;
    color: white;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-shadow:
       2px 2px 0  #233f8e,
     -1px -1px 0  #233f8e,
      1px -1px 0  #233f8e,
      -1px 1px 0  #233f8e,
       1px 1px 0  #233f8e;


  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.6;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: #162B52;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 900;
    min-width: 200px;
    color: white;
    font-variant: small-caps;
    text-shadow:
       2px 2px 0  #233f8e,
     -1px -1px 0  #233f8e,
      1px -1px 0  #233f8e,
      -1px 1px 0  #233f8e,
       1px 1px 0  #233f8e;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #335ccc;

  }

a.Blue:link {color:#233f8e;font-size: 250%;}
a.Blue:visited {color:#233f8e;font-size: 250%;}
a.Blue:hover {color:#162B52;font-size: 250%;}


p {
font-size: 20px;
font-family: 'Poppins', sans-serif;
border: 3px;
padding: 5px 5px;
margin: 10px;
margin: 10px 50px;
text-align: justify;
text-justify: inter-word;
}


p3 {
font-size: 10px;
font-family: Arial, Helvetica, sans-serif, color:#162B52;

}


.center {
text-align: center;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}
img2 {
  float: left;
}


hr{ width:100%; height:2px; background-color:#233f8e ; border:none;}

.footer {
   position: bottom;
   left: 0;
   bottom: 0;
   right: 0;
   min-width: 100%;
   text-align: center;
   border-top: 20px solid #eee;
   background: #eee ;
}




input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 15px;
  resize: none;
  float: right;

}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #E9F2FF;
  padding: 20px;
  float: right;

}

.icon {
 padding: 2px;
 margin: 5px 5px 30px 20%;
 float:left;
 display:block;


}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}



.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;

}

.carousel {
width: 30%;
margin: auto;

}
.carousel-slide{


  animation: moveSlideshow 5s linear infinite;
  animation-timing-function:ease-in-out;
  }
  @keyframes moveSlideshow {
    100% {
      transform: translateX(-66.6666%);
    }
  }


.carousel-slide {
  display: flex;
}

</style>
</head>

</html>
